<div class="firstRound">
        
x</div>
<div class="container-fluid">
    <div class="row">
        <div class="header-text">
            <h1>Small Town</h1>
            <h4>Save the world by saving time</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img class="gas" src="../../assets/gas.JPG">
        </div>
    
       
       
    </div>
        <div class="row">
            <div class="col-md-12">
                    <img class="gas" src="../../assets/traffic.JPG">
            </div>
        </div>

    

   
</div>