.footer {
    background-color: lightblue;
    height: 200px;
}

#main-icon {
   
}

nav a {
    color: black;
    font-size: 1.5em;
}

.navbar {
    background-color: white;
}


.navbar {
    border-width: 0px;
    box-shadow: 0px 0px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    border-radius: 0px;
    color: #6d6f7b;
    border-bottom: 1px solid #6d6f7b;
  }
