<div class="full-container">
  </div>
<div class="container-fluid">
  <div class="chart-container">
<div class="example-container mat-elevation-z1">
  <div class="header-container">
  <h1>Saved Locations</h1>
</div>
  <table mat-table #table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="address">Address 
          <span class="spacer"></span>
          <i class="fa fa-location-arrow" aria-hidden="true"></i>
      </th>
      <td mat-cell *matCellDef="let element">
        <a href="{{element.url}}">{{element.address}}</a>
        </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Work Distance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="work_distance"> Work 
          <span class="spacer"></span> 
          <i class="fa fa-road" aria-hidden="true"></i>
      </th>
      <td id="workD" mat-cell *matCellDef="let element"> {{element.work_distance}} </td>
    </ng-container>

 
    <ng-container matColumnDef="Work Time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="work_time">
          Work 
          <span class="spacer"></span>
          <i class="fa fa-clock-o" aria-hidden="true"></i></th>
        <td mat-cell *matCellDef="let element"> {{element.work_time}} </td>
      </ng-container>
      

    <!-- Weight Column -->
    <ng-container matColumnDef="School Distance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="school_distance"> School
          <span class="spacer"></span> 
          <i class="fa fa-road" aria-hidden="true"></i>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.school_distance}} </td>
    </ng-container>

    <ng-container matColumnDef="School Time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="school_time">School
            <span class="spacer"></span> 
            <i class="fa fa-clock-o" aria-hidden="true"></i>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.school_time}} </td>
      </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Rent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="rent"> Rent
          <span class="spacer"></span> 
          <i class="fa fa-usd" aria-hidden="true"></i>
      </th>
      <td mat-cell *matCellDef="let element"> {{element.rent}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>



</div>
<div class="chart-container">
  <div class="row-spacer"></div>
<div class="row">
    <div class="col-md-6">
    <mat-list class="box mat-elevation-z1">
        <h2>Miles Saved</h2>
        <mat-list-item>Item 1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Item 3</mat-list-item>
      </mat-list>
    </div>
    <div class="col-md-6">
        <mat-list class="box mat-elevation-z1">
            <h2>Time Saved</h2>
            <mat-list-item>Item 1</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 2</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 3</mat-list-item>
          </mat-list>
        </div>
  </div>
</div>
</div>
