/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body { 
    margin: 0;
    padding: 0;
 }
html { margin : 0;
    padding: 0;

}
;
div { margin: 0;
     padding: 0;
     
     }
